* {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}
html, body {
    width: 100%;
    margin: 0;
}

body > div {
    margin: auto;
}

body h1 {
    text-align: center;
    font-size: 3.5vw;
    font-weight: 400;
    margin-bottom: 0;
}

body h2 {
    text-align: center;
    font-size: 2vw;
    font-weight: 100;
}

.environment, .expression {
    height: 20vh;
    width: 100%;
    display : flex;
    flex-direction : row;
    align-items: center;
    justify-content: center;
}

.environment > label {
    width: 10%;
    font-size: 3vw;
    text-align: center;
    font-weight: 200;
}

.environment > .mapping, .expression > input {
    width: 40%;
    height: 80%;
    border-radius: 3vw;
    font-size: 3vw;
    border: 0;
    background-color: rgb(217, 217, 217);
}

.environment > .mapping {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    overflow-x: auto;
}

.expression > input { 
    width: 70%;
}

button {
    font-size: 1.2vw;
    border-radius: 3vw;
    text-align: center;
    border: 0;
}

.expression {
    margin-top: 10vh;
}

.expression > input {
    margin: auto;
    font-size: 2vw;
    background-color: white;
    border-radius: 0;
    border: 0;
    border-bottom: 1px black solid;
    pointer-events: all;
}

input:focus{
    outline: none;
}

#deriveLatex, #deriveHTML {
    margin: auto;
    margin-top: 10vh;
    margin-bottom: 5vh;
    width: 20%;
    height: 10vh;
    font-size: 1.5vw;
    font-weight: 100;
    background-color: black;
    color: white;
    scale: 1.3;
    white-space: nowrap;
}

#deriveLatex span, #deriveHTML span {
    margin: 0;
    padding: 0;
    font-size: 0.9vw;
    opacity: 0.8;
}

#deriveButtons {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#latex {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    text-align: left;
    font-size: 1.2vw;
    border-radius: 3vw;
    border: rgb(149, 149, 149) solid 3px;
    margin-bottom: 10vh;
    padding-left: 3vw;
    padding-bottom: 3vh;
}

#output {
    width: 60%;
    height: 35vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#output input {
    width: 25%;
    height: 30%;
    font-size: 1.5vw;
    border-radius: 3vw;
    background-color: green;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    border: 0;
    text-align: center;
    margin-bottom: 3vh;
}


input {
    text-align: left;
}

#description {
    width: 30%;
    height: 15vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    opacity: 0.6;
}

#latexLogo {
    height: 100%;
    width: 30%;
    background-image: url('latex-logo-png-transparent.png');
    background-position: center top;
    background-size: contain;
    background-repeat: no-repeat;
}

.variable {
    position: relative;
    width: 5%;
    height: 80%;
    border-radius: 3vw;
    background-color: rgb(0, 0, 0);
    border: 0;
    color: white;
    margin-left: 2vw;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2vw;
    cursor: pointer;
}

.variable span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.variable_info {
    width: 200%;
    height: 180%;
    position: absolute;
    left: 115%;
    background-color:rgb(217, 217, 217);
    z-index: 2;
    border-radius: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2vh;
    transition-duration: 0.2s;
    opacity: 0;
}

.variable_info input {
    width: 80%;
    height: 30%;
    background-color: rgb(217, 217, 217);
    border: 0;
    font-size: 1.3vw;
    border-bottom:rgb(0, 0, 0) solid 1px;
}

.variable_info button {
    margin-top: 5%;
    width: 50%;
    height: 25%;
    border-radius: 1vw;
    background-color: black;
    color: white;
    font-size: 1.3vw;
    cursor: pointer;
}

#HTMLOutput {
    width: fit-content;
    height: fit-content;
    scale: 1;
    color: black;
    font-weight: 100;
    border-radius: 3vw;
    margin: auto;
}

#HTMLOuter {
    width: 100%;
    height: 60vh;
    overflow-y: scroll;
    overflow-x: scroll;
    margin-top: 10vh;
    margin-bottom: 10vh;
}

.mapping .map {
    position: relative;
    height: 75%;
    border-radius: 3vw;
    color: white;
    padding-left: 2vw;
    padding-right: 1vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    font-weight: 100;
    white-space: nowrap;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.map-xi {
    background-color: rgb(150, 64, 150);
}

.map-rho {
    background-color: rgb(103, 100, 171);
}

.delete {
   position: relative;
   right: 0;
   height: 40%;
   width: 2.7vw;
   font-size: 2vw;
   padding-bottom: 0.5vw;
   border-radius: 3vw;
   color: white;
   border: 3px solid white;
   display: flex;
   font-weight: 500;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   margin-left: 1.5vw;
   transition-duration: 0.3s;
}

.delete:hover {
    background-color: white;
    color: rgb(103, 100, 171);
    border: 3px solid rgb(103, 100, 171);
}
